body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-root, .MuiBox-root, .MuiFormLabel-root, .MuiInputBase-input{
  font-family: "Montserrat", sans-serif!important;
  font-optical-sizing: auto;
}

.typograhyPlaywrite{
  font-family: "Playwrite NZ", sans-serif!important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}